[submodule "yasnippets-rails"]
	path = yasnippets-rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule "emacs-rails-reloaded"]
	path = emacs-rails-reloaded
	url = git://github.com/fkchang/emacs-rails-reloaded
